 <h1 class="page-title-big">FAQ</h1>
          <div class="col-md-8 mr-auto ml-auto text-center" style="border-radius: 1rem; margin :">
      
            <mat-accordion  class="FAQ">
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="FAQ1">
    <mat-expansion-panel-header>
   
      <mat-panel-description style="color: #f8f3e8;">
        Why to join with us?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="FAQ1">
    <mat-expansion-panel-header>
   
      <mat-panel-description style="color: #f8f3e8;">
        Why to join with us?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="FAQ1">
    <mat-expansion-panel-header>
   
      <mat-panel-description style="color: #f8f3e8;">
        Why to join with us?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="FAQ1">
    <mat-expansion-panel-header>
   
      <mat-panel-description style="color: #f8f3e8;">
        Why to join with us?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
  
</mat-accordion>
        </div>