<div style="display: table;width: 100%;table-layout: fixed; border-spacing: 10px; ">
  <div class="col-md-8 mr-auto ml-auto text-center" style="border-radius: 1rem;width:20%;margin-left: 10%;    display: table-cell;
    ">
    <h1 class="page-title-big">Shipped</h1>
    <mat-accordion class="FAQ">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ1">
        <mat-icon >assignment_turned_in</mat-icon>
        <mat-expansion-panel-header *ngFor = "let dataS of orders">

          <mat-panel-description style="color: #f8f3e8;">
            {{dataS.status}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p></p>
      </mat-expansion-panel>


    </mat-accordion>
  </div>




  <div class="col-md-8 mr-auto ml-auto text-center" style="border-radius: 1rem;width:20%;margin-left: 10%;    display: table-cell;
  ">
    <h1 class="page-title-big">Accepted</h1>
    <mat-accordion class="FAQ">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ3">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ3">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ3">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ3">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>




  <div class="col-md-8 mr-auto ml-auto text-center" style="border-radius: 1rem;width:20%;margin-left: 10%;    display: table-cell;
  ">
    <h1 class="page-title-big">Waiting</h1>
    <mat-accordion class="FAQ">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ2">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ2">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ2">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="FAQ2">
        <mat-expansion-panel-header>

          <mat-panel-description style="color: #f8f3e8;">
            Order no 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Paneer Shawrma</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>

